/* Vos customisations des classes de Bootstrap */
    html {
        font-family: Arvo;
        scroll-behavior: smooth;
    }

    .nav-link, h1, h2, h3{
        font-family: Arvo;
    }
    
    .navbar-dark{
        background-color: black;
    }

    #home {
        background-image: url(../images/hero-image.jpg);
        background-repeat: no-repeat; 
        background-size: cover;
        
    }

    hr {
        width: 150px;
        margin: 0 auto; 
        margin-top: 5px; 
        margin-bottom: 5px;
    }

    div.container-fluid {
        background-color: rgba(243, 237, 237, 0.434);
    }

    #btn {
        position: fixed;
        font-size:xx-large;
        bottom: 20px;
        right: 20px;
        color: orange;
    }
/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

}
